<% provide(:title, @shop.name) %>


<% if signed_in? %>
<h2><%= @shop.name %></h2>
<%= @shop.get_upvotes.size %> Likes
<p><%= @shop.find_votes_for.sum(:vote_weight) %>Votes For

<p><%= @shop.get_upvotes.sum(:vote_weight) %> UpVotes
<p><%= @shop.get_downvotes.sum(:vote_weight) %> DownVotes
	<p> <%= @ratings %> Avg Rating
		<p>
<div id="like_form">
  
    <%= link_to "UnFav", unrate_shop_path(@shop), method: :put %>          
  	<%= link_to "Up 1", rate_shop_path(@shop, :rating => 1), method: :put %>
    <%= link_to "Up 2", rate_shop_path(@shop, :rating => 2), method: :put %>
    <%= link_to "Up 3", rate_shop_path(@shop, :rating => 3), method: :put %>
    <%= link_to "Up 4", rate_shop_path(@shop, :rating => 4), method: :put %>
    <%= link_to "Up 5", rate_shop_path(@shop, :rating => 5), method: :put %>


   
</div>




<%= link_to 'Add to favorites', favorite_shops_path(shop_id: @shop), method: :post %>

<%= link_to 'Remove from favorites', favorite_shop_path(@shop), method: :delete %>

<% end %>
	