<% provide(:title, @shop.name) %>


<% if signed_in? %>
<h2><%= @shop.name %></h2>
<%= @shop.get_upvotes.size %> Likes
<div id="like_form">
  
    <%= link_to "UnFav", dislike_shop_path(@shop), method: :put %>          
  
    <%= link_to "Fav it!", like_shop_path(@shop), method: :put %>
   
</div>




<%= link_to 'Add to favorites', favorite_shops_path(shop_id: @shop), method: :post %>

<%= link_to 'Remove from favorites', favorite_shop_path(@shop), method: :delete %>

<% end %>
	