<%= form_for(@event) do |h| %>
  <%= render 'shared/error_messages', object: h.object %>
  <div class="field">
    <%= h.label :name %>
    <%= h.text_field :name %>

    <%= h.label :event_type %>
    <%= h.text_field :event_type %>

    <%= h.label :date %>
    <%= h.text_field :date %>

    <%= h.label :time %>
    <%= h.text_field :time %>

    <%= h.label :budget %>
    <%= h.text_field :budget %>

    <%= h.label :bride_name %>
    <%= h.text_field :bride_name %>

    <%= h.label :groom_name %>
     <%= h.text_field :groom_name %>
  </div>
  <%= h.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>

