<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "WeddingAPP", '#', id: "logo" %>
      <nav>
        <ul class="nav navbar-nav pull-right nav-header">
          <li><%= link_to "Home",    root_path , class: "nav-btn" %></li>
          <li><%= link_to "Vendors",    vendors_path, class: "nav-btn" %></li>
          <li><%= link_to "Events",    events_path, class: "nav-btn" %></li>
          <li><%= link_to "Acount",    account_path, class: "nav-btn" %></li>
          <li><%= link_to "Signin",    account_path, id: "signin-btn" %></li>


        </ul>
      </nav>
    </div>
  </div>
</header>


